@{
    ViewBag.Title = "BidHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/assets/css/bootstrap.css" rel="stylesheet" />*@


<script>
    $(document).ready(function () {
        $("#tblDisposalList").DataTable();
    });
</script>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="container">
        <div id="divCAPAList">
            <h1>Bid History</h1>
            <div class="row">
                <div class="col-md-12">
                    <table id="tblDisposalList" class="display" border="1">
                        <thead style="background-color:#156898;">
                            <tr>
                                <th width="25px" style="color:white;">No</th>
                                <th width="100px" style="color:white;">No Disposal</th>
                                <th width="200px" style="color:white">Nama Barang</th>
                                <th width="100px" style="color:white">Bidder</th>
                                <th width="200px" style="color:white">Nominal</th>
                                <th width="100px" style="color:white">Ranking</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    UP/3HA03/11/19/0001/HO
                                </td>
                                <td>
                                    Laptop HP Core I5
                                </td>
                                <td>
                                   Ignatius Irvin Kurniawan
                                </td>
                                <td>
                                    2.500.000
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    UP/3HA03/11/19/0001/HO
                                </td>
                                <td>
                                    Laptop HP Core I5
                                </td>
                                <td>
                                    Dani Pernando
                                </td>
                                <td>
                                    2.300.000
                                </td>
                                <td>
                                    2
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br />
    </div>
    <header class="main-header">
        <nav class="navbar navbar-static-top">

        </nav>
    </header>

</body>