@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row" style="margin-top:15%;">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
            <h2>Welcome To Lelang Online</h2>
            <img src="~/Content/images/LogoB7.png" />
        </div>
    </div>
</div>

